@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
/* Configurações do site */

body {
    font-family: "Noto Sans Display", sans;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 5%;
}

h1 {
    border-left: 2px solid #ccc;
    padding-left: 15px;
}

.voltar {
    position: absolute;
    padding: 5px 15px;
    right: 5%;
    margin-top: -6px;
}

.voltar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.voltar button {
    background-color: purple;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    border-radius: 12px;
    box-shadow: 0 0 10px purple;
}

.voltar button:hover {
    background-color: #f4f4f4;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

p {
    margin: 0 5%;
}

ul {
    margin: 20px 5%;
}

.bold {
    font-weight: 600;
}

.imagem{
    display: flex;
    margin: 35px auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 676px;
    height: 381px;
}