@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

/* Configurações do Dark Mode */

body {
    background-color: #ffffff;
    color: #000000;
    transition: background 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #1a1919;
    color: #ffffff;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.dark-mode a {
    color: #00bfff;
}

.dark-mode a:hover {
    color: #ff0000;
}

/* Configurações do site */


body {
    font-family: "Noto Sans Display", sans;
}

h1 {
    text-align: center;
    padding-bottom: 1%;
}

h2 {
    text-align: center;
}

.explicacao {
    text-align: center;
}

.disciplinas {
    display: inline-block;
    justify-content: center;
    margin: 0 auto;
}