/* Configurações do Dark Mode */

body {
    background-color: #ffffff;
    color: #000000;
    transition: background 0.3s, color 0.3s;
}

.dark-mode {
        background-color: #1a1919;
        color: #ffffff;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.dark-mode a {
    color: #00bfff;
}

.dark-mode a:hover {
    color: #ff0000;
}

/* Configurações do site */

h1{
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
}

.top-left{
    position: absolute;
    left: 0px;
    top: 0px;
}

.top-right{
    position: absolute;
    right: 0px;
    top: 0px;
}